<!DOCTYPE html>
<html>
  <%- include('layouts/header'); -%>
  <body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
  <%- include('layouts/navbar'); -%>  
    <div class="pt-">
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left"></div>
        <div class="col-lg-8 col-md-12 mx-auto">
          <div class="page-heading">
            <h1>Successful Registration - Pending Review</h1>
          </div>
        </div>
      </div>
    </div>  
    <div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left"></div>
        <form id="successform">
          <div class="form-group">           
            <div class="form-group col-md-12"> 
               <p> Hang in there <%= name %>. Your registation will be reviewed by our panel to avoid fraud. You will be hearing from us shortly! </p>
            </div>
          </div>          
        </form>      
</div>
</div>
</body>
</html>

