<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.2/js/fileinput.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
  <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
  <script src="/js/registration.js"></script>

<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">
<!--Nav-->
<%- include('layouts/navbar'); -%>
<div class="pt-36">
		<div class="container">
      <div style="margin-top:50px;" class="mainbox col-md-20 col-md-offset-3 col-sm-12 col-sm-offset-2">           
          <div class="row">
              <div class="col-lg-8 col-md-12 mx-auto">
                <p>Fill up the below form to register and we will review and get back to you as soon as possible!</p>
                <form action="/registration" method="POST" id="formcreateuser">
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input type="email" class="form-control" id="txtEmail" name="email" placeholder="Email" required autofocus>              
                    </div>
                    <div class="help-block with-errors"></div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="txtUserName" placeholder="UserName">
                    </div>
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input type="password" class="form-control" id="txtPassword" placeholder="Password" name="password" required autofocus>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Confirm Password" required autofocus>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="txtFirstName" placeholder="First Name" name="firstname" required autofocus>
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="txtLastName" placeholder="Last Name" name="lastname" required autofocus>
                    </div>
                  </div>        
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="txtPhone" placeholder="Phone" name="phone">
                    </div>
                    <div class="form-group col-md-6">
                      <input type="text" class="form-control" id="txtFbProfile" placeholder="Facebook Profile Link" name="fbprofile">
                    </div>
                  </div>
        
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <input type="text" class="form-control" id="txtAddress" placeholder="Address" name="address" required >
                    </div>
                  </div>
        
                  <div class="form-row">
                    <div class="form-group col-md-5">        
                      <input type="text" class="form-control" id="txtCity" placeholder="City"  name="city" required>
                    </div>
                    <div class="form-group col-md-5">
                      <select id="txtCountry" class="form-control" name="country">
                        <option selected>Country</option>
                        <option>...</option>
                      </select>              
                    </div>
                    <div class="form-group col-md-2">
                      <input type="text" class="form-control" id="txtZip" placeholder="Zip" name="zip" required>
                    </div>
                  </div>            
                  <br>
                  <div id="usertype" value=" <%= userType %>" >                    
                    <div class="form-row" id="divEmploymetdeclaration">
                      <div class="form-group col-md-6">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="chkIsEmployed" name="isemployed">
                          <label class="form-check-label" for="gridCheck">
                            I am currently unemployed
                          </label>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="txtOccuption" name="occupation" placeholder="Current or Last Occupation">
                      </div>
                    </div>
                    <div class="form-row" id="divMoreHelpDesc">
                      <div class="form-group col-md-12">
                        <textarea class="form-control" rows="8" id="txtMoreInfoHelp" name="detailedtext" placeholder="Tell us more why you need help??"
                          required></textarea>
                      </div>
                    </div>
          
                    <br>
                    <div class="form-row" id="divHelpduration">
                      <div class="form-group col-md-12">
                        <label>Until when do you need help?</label>
                      </div>
                    </div>
                    <br>
                    <div class="form-row" id="divHelpDurationCalendar">
                      <div class="form-group col-md-6">
                        <div class='input-group date' id='datetimepickerfrom'>
                          <input type='text' class="form-control" placeholder="from date" name="activefrom" id= "txtFromDate"/>
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <div class='input-group date' id='datetimepickerfromto'>
                          <input type='text' class="form-control" placeholder="to date" name="activeto" id="txtToDate" />
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group" id="divPhotoLabel">
                      <div class="form-group col-md-12">
                        <label >
                          Help us verify you. Please upload goverment issued id with photo (front and back):
                        </label>
                      </div>
                    </div>
                    <div class="form-group" id="divPhotoUpload">           
                        <div class="form-group col-md-12">                                
                              <span class="btn btn-default btn-file">
                                  <input id="input-2" name="input2[]" type="file" class="file" multiple data-show-upload="true" data-show-caption="true">
                              </span>                
                      </div>
                    </div>         
                      <div class="form-row" id="divDeclaration">
                        <div class="form-group col-md-12">             
                            <input class="form-check-input" type="checkbox" id="chkTruthDeclaration" required>
                            <label class="form-check-label" for="gridCheck" id="label">
                             I confirm that the information given in this form is true and is in good faith.
                            </label>
                          </div>           
                      </div>             
                  </div>                      
                    <div style="margin-top:10px;float: left;" class="form-group">
                      <!-- Button -->                                         
                        <button type="submit"  id="btnSubmit" 
                        class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full mt-4 lg:mt-0 py-4 px-8">Submit</button>						                        
                        <button type="button"  id="btnCancel" 
                        class="mx-auto lg:mx-0 hover:underline gradient text-white font-bold rounded-full mt-4 lg:mt-0 py-4 px-8">Cancel</button>			                        
                      </div>    
                </form>
              </div>
            </div>
        </div>	
      </div>      
    </div>  
<div class="relative -mt-12 lg:-mt-12">
	<svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	<g transform="translate(-2.000000, 44.000000)" fill="#FFFFFF" fill-rule="nonzero">
	<path d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496" opacity="0.100000001"></path>
	<path d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z" opacity="0.100000001"></path>
	<path d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z" id="Path-4" opacity="0.200000003"></path>
	</g>
	<g transform="translate(-4.000000, 76.000000)" fill="#FFFFFF" fill-rule="nonzero">
	<path d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z"></path>
	</g>
	</g>
	</svg>
</div>
<%- include('layouts/footer'); -%>
<script>   
		   var scrollpos = window.scrollY;
	var header = document.getElementById("header");
	var navcontent = document.getElementById("nav-content");
	var brandname = document.getElementById("brandname");
	var toToggle = document.querySelectorAll(".toggleColour");

	document.addEventListener('scroll', function() {

	/*Apply classes for slide in bar*/
	scrollpos = window.scrollY;

    if(scrollpos > 10){
      header.classList.add("bg-white");	  
	  //Use to switch toggleColour colours
  	  for (var i = 0; i < toToggle.length; i++) {
	     toToggle[i].classList.add("text-gray-800");
		 toToggle[i].classList.remove("text-white");
	  }
	  header.classList.add("shadow");
	  navcontent.classList.remove("bg-gray-100");
	  navcontent.classList.add("bg-white");
    }
    else {
	  header.classList.remove("bg-white");
	  //Use to switch toggleColour colours
  	  for (var i = 0; i < toToggle.length; i++) {
	     toToggle[i].classList.add("text-white");
		 toToggle[i].classList.remove("text-gray-800");
	  }
	  
	  header.classList.remove("shadow");
	  navcontent.classList.remove("bg-white");
	  navcontent.classList.add("bg-gray-100");
	  
    }

	});

</script>
</body>
</html>